# Игнорировать файлы и папки __pycache__
__pycache__/

# Игнорировать папку logs
logs/

# Игнорировать папку movies и её содержимое
movies/

# Игнорировать виртуальное окружение
venv/

# Игнорировать изображения
*.jpg
*.png