aiogrpc==1.8
altgraph==0.17.4
certifi==2024.7.4
contourpy==1.2.1
cycler==0.12.1
filterpy==1.4.5
fonttools==4.53.0
future==1.0.0
git-filter-repo==2.45.0
grpcio==1.64.1
imutils==0.5.4
kiwisolver==1.4.5
lxml==5.2.2
matplotlib==3.9.1
mavsdk==2.8.0
netifaces==0.11.0
numpy==2.0.0
opencv-python==4.10.0.84
packaging==24.1
pillow==10.4.0
progress==1.6
protobuf==3.20.1
psutil==6.0.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pymavlink==2.4.41
pyparsing==3.1.2
pyproj==3.6.1
pyserial==3.5
python-dateutil==2.9.0.post0
scipy==1.14.0
setuptools==74.1.0
six==1.16.0
vidstab==1.7.4
